In [68]:
import pandas as pd

In [69]:
df = pd.read_csv('dane/_info-data-discrete.txt', sep=' ', header=None, names=["nazwa systemu", "liczba atrybutow", "liczba obiektow"])
df

               nazwa systemu  liczba atrybutow  liczba obiektow
0                 australian                15              690
1                        car                 7             1728
2         fertilityDiagnosis                10              100
3              german-credit                21             1000
4               heartdisease                14              270
5           hepatitis-filled                20              155
6             house-votes-84                17              435
7   mushroom-modified-filled                23             8124
8                    nursery                 9            12960
9                   diabetes                 9              768
10  soybean-large-all-filled                36              683
11           SPECT-all-modif                23              267
12          SPECTF-all-modif                45              267

In [70]:
attributes_type = pd.read_csv("dane/australian-type.txt", sep=" ", header=None, names=["Attribute", "Type"])
attributes_type

   Attribute Type
0         a1    s
1         a2    n
2         a3    n
3         a4    s
4         a5    s
5         a6    s
6         a7    n
7         a8    s
8         a9    s
9        a10    n
10       a11    s
11       a12    s
12       a13    n
13       a14    n

In [71]:
classes = attributes_type['Attribute']
classes = classes.squeeze() 
new_row = pd.Series(["Decyzja"], index=[len(classes)])
classes = pd.concat([classes, new_row])
systems_info = pd.read_csv('dane/australian.txt', sep=' ', header=None)
systems_info.columns = classes.values
systems_info

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,Decyzja
0,1.234,22.08,11.46,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,0.000,22.67,3.80,2,8,4,0.165,0,0,0,0,2,160,1,0
2,0.000,29.58,1.75,1,4,4,1.250,0,0,0,1,2,280,1,0
3,0.000,21.67,11.50,1,5,3,0.000,1,1,11,1,2,0,1,1
4,1.000,20.17,8.17,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1.000,31.57,10.50,2,14,4,6.500,1,0,0,0,2,0,1,1
686,1.000,20.67,0.41,2,8,4,0.125,0,0,0,0,2,0,45,0
687,0.000,18.82,9.53,2,6,4,0.085,1,0,0,0,2,100,1,1
688,0.000,27.42,14.50,2,14,8,3.085,1,1,1,0,2,120,12,1
689,1.000,41.00,0.04,2,10,4,0.040,0,1,1,0,1,560,1,1

# 3) Wczytujemy wybrany system np. w C++ i zdobywamy następujące informacje o systemie (load selected decision system for instance in C++ and find the information):

## a) wypisujemy istniejące w systemie symbole klas decyzyjnych (find available decision classes),

In [72]:
decision_classes = systems_info.iloc[:, -1].unique()
print("Symbole klas decyzyjnych:", decision_classes)

Symbole klas decyzyjnych: [0 1]

## b) wielkości klas decyzyjnych (liczby obiektów w klasach) (find size of decision classes (number of objects in classes) ),

In [73]:
class_counts = systems_info.iloc[:, -1].value_counts()
print("Liczba obiektów w klasach:\n", class_counts)

Liczba obiektów w klasach:
 Decyzja
0    383
1    307
Name: count, dtype: int64

## c) minimalne i maksymalne wartości poszczególnych atrybutów(dotyczy atrybutów numerycznych) (minimal and maximal values for each attribute - apply for numerical attributes),

In [74]:
min_max_attributes = pd.DataFrame()

for _, row in attributes_type.iterrows():
    if row['Type'] == "n":
        min_max_attributes[row['Attribute']] = [systems_info[row['Attribute']].min(), systems_info[row['Attribute']].max()]

min_max_attributes.index = ["Min", "Max"]

display(min_max_attributes)

        a2    a3    a7  a10   a13     a14
Min  13.75   0.0   0.0    0     0       1
Max  80.25  28.0  28.5   67  2000  100001

## d) dla każdego atrybutu wypisujemy liczbę różnych dostępnych wartości (for each attribute detect the number of different available values),

In [75]:
for column in systems_info.columns[:-1]:
    print(f"Columna '{column}' zawiera {systems_info[column].nunique()} unikalne wartości")

Columna 'a1' zawiera 3 unikalne wartości
Columna 'a2' zawiera 350 unikalne wartości
Columna 'a3' zawiera 212 unikalne wartości
Columna 'a4' zawiera 3 unikalne wartości
Columna 'a5' zawiera 14 unikalne wartości
Columna 'a6' zawiera 8 unikalne wartości
Columna 'a7' zawiera 132 unikalne wartości
Columna 'a8' zawiera 2 unikalne wartości
Columna 'a9' zawiera 2 unikalne wartości
Columna 'a10' zawiera 23 unikalne wartości
Columna 'a11' zawiera 2 unikalne wartości
Columna 'a12' zawiera 3 unikalne wartości
Columna 'a13' zawiera 171 unikalne wartości
Columna 'a14' zawiera 240 unikalne wartości

## e) dla każdego atrybutu wypisujemy listę wszystkich różnych dostępnych wartości(for each attribute list the set of different, available values),

In [76]:
for column in systems_info.columns[:-1]:
    print(f"Atrybut '{column}': {systems_info[column].unique()}")

Atrybut 'a1': [1.234 0.    1.   ]
Atrybut 'a2': [22.08 22.67 29.58 21.67 20.17 15.83 17.42 58.67 27.83 55.75 33.5  41.42
 20.67 34.92 58.58 48.08 18.92 20.   22.42 28.17 19.17 41.17 41.58 19.5
 32.75 22.5  33.17 30.67 23.08 27.   20.42 52.33 42.83 74.83 25.   39.58
 47.75 47.42 23.17 22.58 26.75 63.33 23.75 20.75 24.5  16.17 29.5  52.83
 32.33 21.08 19.   27.58 40.   37.33 42.5  56.75 43.17 18.5  40.83 42.
 21.5  31.25 27.25 48.75 30.42 29.42 28.25 40.25 36.5  25.58 29.83 32.17
 25.17 35.17 18.57 39.92 23.42 37.58 24.75 47.   34.17 22.17 27.75 42.75
 28.67 36.25 18.17 21.25 38.92 31.83 17.32 39.08 38.67 27.67 22.25 49.83
 38.25 47.33 35.75 33.58 34.08 22.75 40.58 38.75 57.08 22.   58.33 28.92
 46.   21.   20.83 24.58 26.5  40.92 38.33 19.57 39.25 25.75 46.08 19.67
 18.82 64.08 16.5  68.67 76.75 15.92 34.83 45.17 15.17 52.5  18.   37.5
 47.83 33.08 43.08 34.5  18.25 17.92 18.42 62.5  23.5  35.25 56.83 53.33
 42.17 33.75 25.67 24.33 23.33 37.17 26.25 29.75 23.   17.25 29.25 28.58
 34.58 18.75 17.07 16.07 32.92 20.32 21.75 25.33 30.83 40.33 54.42 34.
 26.58 33.67 36.17 24.17 30.5  28.75 31.57 20.25 45.   22.83 56.42 69.5
 35.58 48.33 28.08 49.5  80.25 16.92 16.   60.08 28.   41.5  24.08 34.75
 48.5  35.   16.32 25.08 36.33 23.25 20.07 22.33 16.25 32.83 48.25 18.32
 44.25 31.58 65.42 41.33 36.75 31.92 24.83 21.92 34.25 51.83 38.42 39.17
 39.   39.33 21.33 49.   21.83 26.83 38.58 50.08 15.75 54.58 18.07 36.67
 38.17 51.92 52.42 60.92 42.25 23.58 36.   32.42 19.42 30.   31.   27.42
 31.08 67.75 30.75 50.25 51.58 36.58 50.75 58.42 31.75 44.83 26.17 73.42
 27.17 22.92 32.   19.32 34.42 33.25 53.92 25.25 56.5  32.25 20.5  30.25
 23.92 21.17 31.42 47.25 32.08 30.58 54.83 32.67 30.17 41.75 25.83 29.92
 51.42 62.75 71.58 24.42 44.33 25.92 17.57 31.67 57.58 59.67 65.17 30.08
 48.58 48.17 60.58 26.67 57.83 55.92 51.33 39.83 29.67 17.5  47.67 57.42
 13.75 29.17 21.42 45.83 27.33 42.08 28.5  45.33 33.   34.67 35.42 44.
 37.75 49.17 59.5  25.5  49.58 33.92 69.17 43.25 56.58 44.17 17.82 25.42
 56.   37.42 31.33 36.08 47.17 26.92 46.67 52.17 39.5  36.42 39.42 41.92
 21.58 28.33 28.42 41.   18.67 30.33 19.75 26.   26.33 54.33 17.67 26.08
 24.92 43.  ]
Atrybut 'a3': [11.46  3.8   1.75 11.5   8.17  0.58  6.5   4.46  1.    7.08  5.    1.25
  2.71  6.04  4.5   9.    5.66  1.33  9.58  1.5   0.12  3.04 12.    2.5
  0.75 10.5   1.37 19.   12.5  13.91  8.    3.    0.    1.12  0.54  0.41
 10.25  0.04  2.   15.    3.5   4.12  3.25  4.91 12.25  0.71  0.5   9.78
  0.16  2.83  1.58 26.33  5.04 21.5   4.25  0.33  1.46  3.75 10.   13.66
 13.    5.25  1.29  4.08 14.5   1.66  9.5   0.83  4.    0.21 13.75  0.87
 13.58 10.12  0.91  0.25  0.08 10.33 11.    8.5  19.5   0.79  0.37 13.5
  4.41  3.54 20.   22.29  2.87  7.    4.16  1.62  4.04  8.46  0.2  10.41
  9.25 12.75  3.16  6.62 11.62  1.54  0.66  1.83 14.79 11.25  7.5   1.04
  2.08  5.08  8.12  0.46  5.5   2.54  4.62  2.16  0.28  0.57  4.75  2.25
  1.16  9.96  2.29 28.    6.    7.58 13.33  3.37  2.75 11.75  2.12 12.12
  3.62  5.41 25.08  1.21  1.71  4.71  3.12  0.7   2.46 11.04  2.33  5.71
  7.62  5.87 10.08  5.29 12.54  4.79  9.41  5.62  0.42  0.62 10.75  6.21
  7.54  5.12  3.08 18.12 21.    3.29  3.33 17.75  8.58 12.62  1.08 10.91
  2.41  9.62 16.   11.83  0.67 11.12 15.5   3.79 10.66  0.96 12.83 16.16
 14.   16.5  12.33  9.75  7.04  2.04 22.    6.75 11.66  1.41 14.58  0.17
 18.5   6.66  4.58  7.25  9.17 25.21  2.66  5.83  7.83  9.53 10.03  1.79
  2.21 10.29 25.12  9.33  8.66 10.21  6.16 11.58]
Atrybut 'a4': [2 1 3]
Atrybut 'a5': [ 4  8  5  6  3 11  2 14  9 13  7  1 10 12]
Atrybut 'a6': [4 3 8 1 5 9 2 7]
Atrybut 'a7': [ 1.585  0.165  1.25   0.     1.96   1.5    0.125  3.04   3.     6.75
  4.5    5.     1.375  7.5    2.415  0.04   0.75   2.585  0.585  0.21
  0.79   5.5    2.04   2.     1.085  4.25   9.46   2.125 13.875  8.625
  7.875  0.085  0.54   0.71   0.5    2.335  5.085  3.5    3.165  2.25
  0.25   7.96   1.835  1.75  20.     1.     0.625  0.415  5.165  2.5
  5.75   1.04   8.5    4.     0.335 12.5    0.29   6.5    1.46   2.375
  0.835  3.25  17.5   12.75   6.29   3.085  0.375  2.46   3.75   7.
  1.21   5.04   2.71   2.75   3.96   1.625  4.625 14.     2.29  10.
 28.5   16.     7.585 18.     4.165  5.375  1.165  8.29   0.665  1.335
  3.335  1.54  10.75   1.665 15.     7.415  0.96  13.5    4.75  14.415
  1.71   0.455  8.     0.875 13.     1.29   5.335  8.665  6.     0.46
  1.875  4.335  5.125 15.5    2.625 11.     4.58   3.125  4.29   5.25
  2.085  2.165  6.04  11.5    1.415  7.375  2.54   9.     2.79   3.17
  0.795  5.665]
Atrybut 'a8': [0 1]
Atrybut 'a9': [0 1]
Atrybut 'a10': [ 0 11 14  2  6  3  4  7  1  8  5 12 16  9 10 15 67 17 19 40 13 20 23]
Atrybut 'a11': [1 0]
Atrybut 'a12': [2 1 3]
Atrybut 'a13': [ 100  160  280    0   60   43  176  253  470  140  320  330   88  129
  260  168   80  200  180  220  312  154  290  352   20   70  519  120
  128   49  132  256  232  216  112  369  434   52  141  240 1160  380
  583  144  454  340  550  184  108  150  480  487   45   75  420  181
   76  130  350  396  375  600  500  520  460  300  195  164  368  400
  680   62   92  212  171  720   50  360  202  210   96  560  231  110
  228   29  431  225  370   40  252  395   22  840  136  292  399  416
  980  156   73   30  356  309   17   99  443  272 2000  204  145  711
  276  383  371  274  432  440  224  333  152  408   32  510  221  268
   56  174  250  208   21  288  349  450  410  329  167  121  263   28
  523  311  178  170   94  422  348  163  303   24  760  465  239  254
   93  102  186  117  640  188  393  230  455  515  381  928   86  211
  411  372  491]
Atrybut 'a14': [  1213      1    159    101    561    538     51    858    211   1001
   2691    592      5   3258   1005    351     71  18028     20   2185
    151     33    285    113    352   1261   1705     68   5299      7
     18   2201   2101      2     36    501    247   1443    301    825
     69    147    714     34      8   1201   2080   7060    201     43
    287    368      9    391     11   5861   7545    229   1584   2001
   4072    810   1656   3066   3001    284   1603    141    961    568
    770   4608   4160     99   3377    110  51101  11203     41      6
     17    163   4209    751    376     10     28    196    259     54
   1209  26727    127   1466  31286    185     19    109    315     61
    688    365   5125   2385      4     16    322    457  13213   1271
   5001    341    476    135    838     22   1188    155    174  50001
    485    769    279   2198   2073     15      3     21    601     60
    106    588    161    395    100    445    197    401   2301   4001
   2280     42    828     23    118   3553     12   6701   2011   2955
   1098   2284   1345    991   5553     14   1066    611    248   8001
   5201  11178    328    114    679    205    801    893    131    691
    541     56     13   2804   1301    552   4501    743    731   1401
     29    791    583    348  10562    459   5778   1333   8852   1250
     45     24   1431   1392 100001   2511    235  10001    919     88
   2504   6591    180    723     59  15109    238  15001    252   3291
    142   2029    222     91   5801    502   1951    640    397   4701
   2207   1211    949   9801    246   1059    148     26   1237     39
    226    169     81   1111   1063    317    123   2733   1350    121]

## f)odchylenie standardowe dla poszczególnych atrybutów w całym systemie i w klasach decyzyjnych (dotyczy atrybutów numerycznych) (compute standard deviation for each attribute in the whole system and separately for each decision class).

In [77]:
import statistics

print("Odchylenie standardowe całego systemu: ", systems_info.std())

min_max_attributes = pd.DataFrame()

for _, row in attributes_type.iterrows():
    if row['Type'] == "n":
        min_max_attributes[row['Attribute']] = [statistics.stdev(systems_info[row['Attribute']])]

min_max_attributes.index = ["Odchylenie standardowe"]

display(min_max_attributes)

Odchylenie standardowe całego systemu:  a1            0.467801
a2           11.853826
a3            4.977828
a4            0.430063
a5            3.683265
a6            1.992316
a7            3.346513
a8            0.499824
a9            0.495080
a10           4.862940
a11           0.498592
a12           0.298813
a13         172.159274
a14        5210.102598
Decyzja       0.497318
dtype: float64

,a2,a3,a7,a10,a13,a14
Odchylenie standardowe,11.853826,4.977828,3.346513,4.86294,172.159274,5210.102598

# 4) Wykonaj dla wybranych danych następujący preprocessing (do for selected data the following preprocessing):

In [78]:
## a) Wygeneruj 10 procent wartości nieznanych, wpisując na miejsce danych znak zapytania i napraw metodą szukania najczęściej wystepującej wartości, lub wartością średnią (dla atrybutów numerycznych), (generate ten per cent of missing values in selected decision system, and complete the missing values with most common values or mean values (for symbolic attributes)